.app-input {
  padding: 5px 10px;
  font-size: 14px;
  width: 190px;
  outline: none;
}

.app-input--invalid {
  border: 1px solid crimson;
}

.validation-error {
  padding: 5px 0;
  color: crimson;
}

.app-input-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 700;
  font-size: 14px;
  color: #202020;
  margin: 20px 0 5px 2px;
}